*.class
*.project
*.orig
**/.classpath
**/.factorypath
.settings

# Ignorar gerados pelos "annotation processing" mas não os gerados que estiverem em src #
generated/
!/**/src/**

# JBOSS AS #
**/*.jar.index

# Eclipse e Mvn #
bin/
build/
target/
metamodel/